@font-face {
  font-family: 'Proxima-Nova-Font';
  src:url('../assets/fonts/Proxima-Nova-Font.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF-Pro-Text-Regular';
  src:url('../assets/fonts/SF-Pro-Text-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'SF-Pro-Text-Regular';
  }
  
  section.mobile {
    width: 414px;
  }
  
  section > .container {
    max-width: 1140px;
  }
  
  .home-container {
    background-image: url("../images/pictures/Background.jpg");
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 896px;
  }

  .statusbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 100%;
    position: relative;

  }

  .time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 60px;
    margin-left: 23.18px;
    margin-top: 13px;
  }

  .time>h2{
    font-family: 'SF-Pro-Text-Regular';
    color: #ffff;
    font-weight: 600;
    font-size:15px ;
  }

  .righticons{
    display: flex;
    justify-content: space-between;
    width: 76px;
    height:10.97px;
    margin-right: 14.5px;
    margin-top: 16.33px;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 100%;
  }

  #following {
    margin-right: 12.5px;
    font-family: 'Proxima-Nova-Font';
    font-weight: 600;
    font-size:16px;
    color: #ffff;
  }

  #foryou{
    margin-left: 8.5px;
    font-family: 'Proxima-Nova-Font';
    font-weight: 600;
    font-size:18px;
    color: #ffff;
    opacity: 60%;
  }

  .panel-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: 340px;
    margin-right: 7px;
    height: auto;
  }

  .panelright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .panelright > #avatar{
    background-position: center;
    height: 47px;
    width: 47px;
    background-image: url("../images/pictures/Ellipse\ 3.jpg");
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ffff;
  }

  .like{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 54px;
    margin-top: 34px;
  }

  .like > span{
    font-family: 'Proxima-Nova-Font';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  }

  .message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 54.5px;
    margin-top: 22.5px;
  }

  .message > span{
    font-family: 'Proxima-Nova-Font';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  }

  .share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 51.5px;
    margin-top: 25.5px;
  }

  .share > span{
    font-family: 'Proxima-Nova-Font';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  }